:root {
  --main: #171717;
  --bg: #fafafa;
  --accent: #4287f5;
  --pad: clamp(1rem, 2vw, 3rem);
}

body {
  font-family: "Montserrat";
  font-size: 20px;
  color: var(--main);
  background-color: var(--bg);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
section {
  padding: 40px 0;
}
h1 {
  margin-bottom: 50px;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
}
h3,
h4 {
  margin-bottom: 20px;
  font-weight: 700;
}

.container {
  padding: 0 20px;
}
.flex-conainer {
  columns: 23rem;
  column-gap: calc(var(--pad) * 2);
}

/* @media screen and (min-width: 820px) {
  .flex-conainer {

  }
} */

.text-accent {
  color: var(--accent);
}

.menu-list {
  gap: 10px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.menu-link {
  display: flex;
}
.menu-link:hover {
  color: red;
}

.dots {
  /* width: 100%; */
  display: inline-block;
  border-bottom: 1px dotted var(--main);
  flex-grow: 1;
}
/* tables grid */
.table-list,
.table-item {
  text-transform: uppercase;
}

.table-header {
  padding: 4px 0;
  background-color: var(--accent);
  color: white;
  text-align: center;
}
.table-item {
  display: flex;
  flex-shrink: 1;
}

.table-list {
  margin-bottom: 1rem;
}

/* text page */

.text-page-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.text-page-grid li {
  margin-bottom: 20px;
}
.half-text-block {
  text-align: justify;
}
@media screen and (min-width: 820px) {
  .half-text-block {
    width: 45%;
    text-align: justify;
  }
}
.half-text-block p {
  margin-bottom: 20px;
}

@media screen and (min-width: 820px) {
  .full-text-block {
    display: flex;
    gap: 4%;
  }
  .text-block-left-side {
    width: 48%;
  }
  .text-block-right-side {
    width: 48%;
  }
}
